.body {font-family: "Lato", sans-serif;
background-image: url("any.jpg");
    background-size: cover;
    background-position: center;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}
.mySlides {display: none}
.hide{visibility: hidden}
.bg{background: black}
.l-5{ right :20px }